@use 'variaveis' as v;
@use 'mixins' as m;

.cabecalho {
  background-color: v.$cor-cabecalho;
  border-bottom: 1px solid v.$cor-borda;
  position: sticky;
  top: 0;
  z-index: 1000;

  &__container {
    @include m.container;
    min-height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    font-size: 24px;
    font-weight: bold;
    color: v.$cor-branco;
  }

  &__logo-marca {
    color: v.$cor-primaria;
  }
}

.menu {
  display: flex;
  gap: v.$gap-medio;

  &__link {
    color: v.$cor-texto-claro;
    font-weight: 500;
    transition: 0.3s;

    &:hover,
    &:focus-visible {
      color: v.$cor-primaria;
    }
  }
}

.hero {
  min-height: 90vh;
  display: flex;
  align-items: center;
  background-color: v.$cor-fundo;

  &__container {
    @include m.container;
  }

  &__conteudo {
    max-width: v.$largura-hero;
  }

  &__subtitulo {
    color: v.$cor-primaria;
    font-size: v.$tamanho-texto;
    margin-bottom: v.$gap-pequeno;
  }

  &__titulo {
    font-size: v.$tamanho-titulo-hero;
    line-height: 1.1;
    margin-bottom: 25px;
    color: v.$cor-branco;
  }

  &__destaque {
    color: v.$cor-primaria;
  }

  &__descricao {
    font-size: v.$tamanho-texto;
    color: v.$cor-texto-medio;
    margin-bottom: 30px;
  }

  &__acoes {
    display: flex;
    gap: v.$gap-pequeno;
  }
}